.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* chatbot css start */
.project-chatbot{
  width: auto;
  bottom: 20%;
  right: 10%;
  position: fixed;
  margin: auto;
  display: flex;
  height: 500px;
  align-items: 100vh;
  align-items: center;
  max-width: 350px;
}

.project-chatbot
.react-chatbot-kit-chat-container{
  height: 500px;
  overflow: auto;
  background: aliceblue;
}
.project-chatbot
.react-chatbot-kit-chat-input-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}
.project-chatbot
.react-chatbot-kit-chat-btn-send{
  width: 100px;
  border: none;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #fff;
  background: #6c757d;
  border-bottom-right-radius: 5px;
}

.project-chatbot
.react-chatbot-kit-chat-btn-send-icon{
  height: 90%;
}

.project-chatbot
.react-chatbot-kit-user-chat-message-container{
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  color: black;
  font-weight: medium;
  position: relative;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: left;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-chatbot
.react-chatbot-kit-user-chat-message{
  margin: 0 10px;
}

.project-chatbot
.react-chatbot-kit-user-avatar{
  width: 30px;
}

.project-chatbot
.react-chatbot-kit-chat-bot-message-container{
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  width: 60%;
  margin-right: auto;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-chatbot
.react-chatbot-kit-chat-input-form{
  width: 100%;
  display: flex;
  height: 50px;
}

.project-chatbot
.react-chatbot-kit-chat-input{
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
}

.project-chatbot
.react-chatbot-kit-chat-header{
  background: #6c757d;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 19px;
}

.project-chatbot
.react-chatbot-kit-chat-message-container{
  overflow: auto;
  height: 400px;
}

.project-chatbot
p{
  margin: 0;
}

.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid green;
  margin: 3px;
}


.link-list {
  padding: 0;
}

.link-list-item {
  text-align: left;
  font-size: 0.9rem;
}

.link-list-item-url {
  text-decoration: none;
  margin: 6px;
  display: block;
  color: #1d1d1d;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
}

.chatbot-toggle{
  position: fixed;
  bottom: 10%;
  right: 10%;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.chatbot-toggle img{
  width: 100%;
}

.chatbot-message-avtar{
  width: 30px;
}